$pixel_10: 10px;
$pixel_20: 20px;
$pixel_30: 30px;
$pixel_40: 40px;
$pixel_50: 50px;
$pixel_55: 55px;
$pixel_70: 70px;
$pixel_80: 80px;
$pixel_100: 100px;
$pixel_150: 150px;
$pixel_200: 200px;
$pixel_300: 300px;